<!DOCTYPE html>
<html>
	<head th:replace="admin/_fragments :: head(~{::title})">
	<title>博客</title>
	</head>
	
	<body>
		<!--导航栏-->
		<nav th:replace="admin/_fragments :: menu(1)"></nav>

		<!-- 二级导航 -->
		<div th:replace="admin/_fragments :: secmenu(2)"></div>

		<!--中间内容-->
		<div class="m-container m-padded-tb-big">
			<input type="hidden" name="page"/>
			<div class="ui container">
				<div class="ui m-opacity segment form">
					<div class="inline fields">
						<div class="field">
							<input type="text" name="blog.title" placeholder="标题">
						</div>
						<div class="field">
							<div class="ui selection dropdown">
								<input type="hidden" name="blog.type.id">
								<i class="dropdown icon"></i>
								<div class="default text">分类</div>
								<div class="menu">
									 <div  th:each="type : ${types.records}"  class="item" data-value="1" th:data-value="${type.id}" th:text="${type.name}"></div>
								</div>
							</div>
						</div>
						<div class="field">
							<div class="ui checkbox">
								<input type="checkbox" name="blog.recommend" th:checked="${(blog!=null && blog.recommend==true)?true:false}">
								<label for="recommend">推荐</label>
							</div>
						</div>
						<div class="field">
							<button type="button" id="search-btn" class="ui mini teal basic button"><i class="search icon"></i>搜索</button>
						</div>
					</div>
				</div>
				
				<div id="table-container">
					<table th:fragment="blogList" class="ui compact teal table m-opacity">
						<thead>
							<tr>
								<th>编号</th>
								<th>标题</th>
								<th>类型</th>
								<th>状态</th>
								<th>推荐</th>
								<th>更新时间</th>
								<th>操作</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="blog,aStat:${blogs.records}">
								<td th:text="${aStat.count}"></td>
								<td th:text="${blog.title}"></td>
								<td th:text="${blog.type.name}"></td>
								<td th:text="${blog.published}==true? '发布'  : '  草稿'  "></td>
								<td th:text="${blog.recommend}==true? '是'  : '  否'  "></td>
								<td th:text="${#dates.format(blog.updateTime,'yyyy-MM-dd')}"></td>	
								<td>
									<a th:href="@{/admin/blogs/editUI/{id}(id=${blog.id})}" href="#" class="ui mini teal basic button">编辑</a>
									<a th:href="@{/admin/blogs/delete/{id}(id=${blog.id})}" href="#" class="ui mini red basic button">删除</a>
								</td>
							</tr>
						</tbody>
						<!-- 中间内容分页开始 -->
						<tfoot>
							<tr>
								<th colspan="7">
									<div class="ui mini pagination menu">
										<a class="item" onclick="page(this)" th:attr="data-page=1">首页</a>
										<a class="item" onclick="page(this)" th:attr="data-page=${blogs.current}-1"  th:unless="${blogs.current}==1">上一页</a>
										<a class="item" onclick="page(this)" th:attr="data-page=${blogs.current}+1"  th:unless="${blogs.current}==${blogs.pages}">下一页</a>										
										<a class="item" onclick="page(this)" th:attr="data-page=${blogs.pages}">尾页</a>										
										<a class="item" th:text="第+${blogs.current}+页"></a>
										<a class="item" th:text="共+${blogs.pages}+页"></a>
										<a class="item" th:text="共+${blogs.total}+条"></a>
									</div>
									<a th:href="@{/admin/blogs/inputUI}" class="ui mini right floated teal basic button">新增</a>
								</th>
							</tr>
						</tfoot>
						<!-- 中间内容分页结束 -->
					</table>
				</div>
			</div>
		</div>

		<!--导入js-->
		<script th:replace="admin/_fragments :: myscript"></script>
		<script>
		
		
		$("#search-btn").click(function(){
			loaddata();			
		});
		
		function page(obj){
			$("[name='page']").val($(obj).data("page"));
			loaddata();
		}
	    
		function loaddata() {
	        $("#table-container").load(/*[[@{/admin/blogs/search}]]*/"/admin/blogs/search",{
	          "blog.title" : $("[name='blog.title']").val(),
	          "blog.type.id" : $("[name='blog.type.id']").val(),
	          "blog.recommend" : $("[name='blog.recommend']").prop('checked'),
	          "pageNum" : $("[name='page']").val()
	        });
	      }
		
		</script>
	</body>
</html>












